@model CRUDapplication.Models.MVCregUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ucountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ucountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Umob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Umob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upwd)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Uimg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uimg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
